<style type="text/css">
    element.style {
        margin: 0px;
    }
    
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: auto !important;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 13rem !important;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #292b2c;
        text-align: center;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }
    
    .Qbox {
        display: block;
        min-height: 500px;
        margin: 0px auto;
        padding: 10%;
        width: 100%;
        border: 2px solid #464a4c !important;
        border-radius: 10px;
        background-color: #ddd !important;
        text-align: center;
        padding: 10px;
        /* opacity: 0.6; */
    }
    
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: auto !important;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 13rem !important;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #292b2c;
        text-align: center;
        list-style: none;
        background-color: #636c72 !important;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }

</style>

<div ng-controller="dashCtrl as dashboard">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href=""><i class="fa fa-ticket" aria-hidden="true"></i> Login App - DashBoard</a>
            <div class="collapse navbar-collapse pull-right" id="navbarExample">
            </div>

            <ul align="right" class="nav navbar-nav pull-right">
                <button align="right" type="button" style="margin:0px" class="btn btn-logged btn-success dropdown-toggle" ng-init="dashboard.getName()" id="logout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      &nbsp;&nbsp;&nbsp;{{dashboard.user}}&nbsp;&nbsp; <span class="caret"> </span></button>

                <ul class="dropdown-menu">
                    <li align="center">
                        <a href="" ng-click="dashboard.logout()">
                            <h4 style="color:black;font-family:bold;/* text-align: center; */width: 200px;">Logout</h4>
                        </a>
                    </li>
                </ul>
            </ul>

        </div>
    </nav>

    <br/>

    <section class="Qbox text-center" ng-init="dashboard.logRecords()">
        <h4>User Details:</h4>
        <h5>ID : {{dashboard.userId}} | User Type : {{dashboard.userType}}</h5>
        <h5>Name : {{dashboard.user}} | Email : {{dashboard.email}}</h5>
        <h5>Mobile Number : {{dashboard.contact}} | Address : {{dashboard.address}}</h5>
        <hr>

        <div ng-if="dashboard.userType == 'employee'">
            <!--Log Records start  -->
            <h4>Log Details Of {{dashboard.user}}</h4>
            <hr>
            <div ng-if="dashboard.logrecord.length == 0">
                <div class="center-block">
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>No Logs Recorded Yet...</h4>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div ng-if="dashboard.logrecord.length > 0" ng-repeat="record in dashboard.logrecord | limitTo: -5 | orderBy:'time':true" ">
  <div class="center-block ">
    <div >
      <div class = "panel panel-primary ">
        <div class = "panel-heading ">
          logged on <span style="color:blue ">{{record | date: "MMM dd,y "}} </span><br/>
           Time : {{record | date:'HH:mm:ss'}}
        </div>                    
        </div>
    </div>
    <hr>
    </div>
  </div>

  <button class="btn btn-success " ng-click="dashboard.submitlog() ">Log Attendance</button>
        <button class="btn btn-success "><a Style="color:white;"  data-toggle="modal" data-target="#messageModal" href=""><i class="fa fa-envelope " aria-hidden="true "></i>  Messages  </a></button>              
  </div>



<!-- Modal For messages -->
    <div class="modal fade" id="messageModal">
      <div class="modal-dialog" style="left:0px; ">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4 class="center" class="modal-title" style="color:#000; ">: Messages :</h4>
          </div>
          <div class="modal-body">

      <div ng-if="dashboard.mssg.length==0 " >
      <div class = "panel panel-primary ">
        <div class = "panel-heading ">
           <span>No Messages From Admin Yet...</span><br/> 
        </div>                    
        </div>
      </div>
     
           <div  ng-repeat="message in dashboard.mssg ">
  <div class="center-block ">
      <div class = "panel panel-primary ">
        <div class = "panel-heading ">
           <span>Sender : {{message.sender}} </span><br/>
           <span>Message : {{message.mssg}} </span><br/>
           <span>Date :{{message.createdAt | date: "MMM dd,y " }} </span><br/>
           
        </div>                    
        </div>
        
    </div>
    <hr>
    </div>
  </div>
          </div>
        </div>
      </div>
    <!-- End of modal -->
  
<div ng-if="dashboard.userType=='admin' " ng-init="dashboard.userDetails() ">
    <!--Log Records start  -->
     <h4>: Details of Employees :</h4>
     <hr>
     <div ng-if="dashboard.userdetails.length==0 ">
  <div class="center-block ">
      <div class = "panel panel-primary ">
        <div class = "panel-heading ">
         <h4>No Employees are added Yet...</h4>
        </div>                    
        </div>
    <hr>
    </div>
  </div>
  <div ng-if="dashboard.userdetails.length> 0" ng-repeat="details in dashboard.userdetails | orderBy:'time':true"">
                <div class="center-block">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Name: {{details.name}}</span><br/>
                            <span>Email: {{details.email}}</span><br/>
                            <button class="btn"><a href="#/create/{{details._id}}">Know More!</a></button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <br/>

    <!-- Footer -->
    <footer class="py-2 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Login App | All Rights Reserved.</p>
            <p Class="m-0 text-center text-white">Created By- Sanjay Kumar Mahto</p>
        </div>
        <br/>
        <div class="col-lg-12">
            <h3 align="center" style="color: white;">Connect With Me:</h3>
            <div align="center" class="footer-social">
                <a href="https://www.facebook.com/sanjay.mahto.9461"><i class="fa fa-facebook fa-2x"></i></a> &nbsp;&nbsp;
                <a href="https://twitter.com/MahtoSa"><i class="fa fa-twitter fa-2x"></i></a> &nbsp;&nbsp;
                <a href="https://www.instagram.com/kuma7609/"><i class="fa fa-instagram fa-2x"></i></a> &nbsp;&nbsp;
                <a href="https://github.com/sanjaymahto" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i></a> &nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/sanjay-kumar-a9359785/"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
    </footer>

    <!-- end of footer -->
